body {
  background-image: url(https://media.nationalgeographic.org/assets/photos/957/798/480e8645-fc3f-48dc-b17a-e81038d3ee97_c158-0-1842-1333_r800x633.jpg?eff12d8bcc1b3653b5f5a0c5ed1619838922d9af);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: rgb(245, 255, 250);
  font-family: Perpetua;
  font-size: 24px;
}

h1,
p {
  text-align: center;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 2rem;
}

.established {
  font-style: italic;
}

form {
  background-color: rgba(45, 0, 100, 0.9);
  color: rgb(245, 255, 250);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(255, 215, 0);
  width: fit-content;
  margin: 0 auto;
  padding: 15px 20px 25px 20px;
}

label {
  display: flex;
  padding: 15px 15px 25px 15px;
  width: fit-contents;
}

fieldset {
  border: none;
}
input,
select,
textarea {
  width: 100%;
  margin: 0.1em 0 1em 0;
  min-height: 2em;
  font-size: 0.67em;
}

textarea {
  min-height: 6.33em;
  resize: vertical;
}

.submit {
  display: block;
  margin: 40px auto;
  width: 40%;
  padding: 15px;
  font-size: 23px;
  background: #d0d0d5;
  border: 3px solid #3b3b4f;
}

.input-radio {
  display: inline-block;
  width: fit-content;
}
.input-checkbox {
  display: inline-block;
  width: fit-content;
}

.text,
.email,
.number {
  outline: none !important;
  box-shadow: 0 0 7px rgb(0, 255, 255);
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  min-height: unset;
  vertical-align: middle;
}
.input-container {
  display: flex;
  width: fit-content;
}
